

@import "{{ site.theme }}";  

.page-header-new {
  color: #fff;
  text-align: center;
  background-color: #AF1C7C;
  background-image: linear-gradient(120deg, #411FA0, #AF1C7C);

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

